<div class="a_flex c_box__menu_index">
  <div class="c_box__left">
    <% 24.times do %>
      <div class="c_box__menu">
        <h3>日付</h3>
        <div class="c_box__menu_inner">
          <%= image_tag 'cake.jpg', size: '400x320', class:"c_photo__menu_index" %>
          <h2>メニュー名</h2>
          <div class="a_flex c_box__menu_button">
            <div class="  c_box__update_num">
              <%= form_with url: root_path, method: :get do |f| %>
                <div class="a_actions a_pointer a_flex c_box__update_num_inner">
                  <%= f.select :dammy, [1,2,3,4,5,6,7,8,9,10], include_blank: "数" %>
                  <%= f.submit "人に変更" %>
                </div>
              <% end %>
            </div>
            <div class="c_box__link_menu">
              <div class="a_box__link c_link__menu_index">
                <%= link_to "料理済み", root_path, method: :put, class:"a_link" %>
              </div>
              <div class="a_box__link c_link__menu_index">
                <%= link_to "取り消し", root_path, method: :delete, class:"a_link" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="c_box__right">
    <div class="c_box__lack_food">
      <h3>足りない食材</h3>
      <div class="c_box__lack_food_inner">
        <% 14.times do %>
          <div>
            <p>食材名</p>
          </div>
        <% end %>
      </div>
      <div class="a_box__link c_link__list_of_shopping">
        <%= link_to "買い物リスト", root_path, class:"a_link" %>
      </div>
    </div>
  </div>
</div>