<div class="a_box__user b_space__box">
  <div class="a_box__user_inner">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="a_actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <p>seedの承認情報を入力済みです</p>
    <%= render "devise/shared/links" %>
  </div>
</div>
