<div class="c_box__user">
  <div class="a_flex c_box__user_inner">
    <%= image_tag "hamu.jpg", size: "100x100",class:"c_photo__user" %>
    <div class="c_introduction__user">
      <strong>名前</strong>
      <p>自己紹介です。</p>
    </div>
  </div>
</div>


<div class="c__radio">
  <input id="favorite" type="radio" name="b_item__radio">
  <label class="a_pointer b_item__radio" for="favorite">お気に入り</label>
  <input id="report" type="radio" name="b_item__radio">
  <label class="a_pointer b_item__radio" for="report">れぽーと</label>
  <input id="fridge" type="radio" name="b_item__radio" checked>
  <label class="a_pointer b_item__radio" for="fridge">冷蔵庫</label>

  <div class="b_content__radio" id="favorite_content">
    <div class="a_flex b_box__radio">
      <% 4.times do %>
        <div class="b_box__radio_inner">
          <%= link_to(root_path, class:"b_link__radio") do %>
            <%= image_tag "cake.jpg", size: "240x240",class:"b_photo__radio" %>
            <h3>メニュー名</h3>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="b_content__radio" id="report_content">
    <div class="a_flex b_box__radio">
      <% 8.times do %>
        <div class="b_box__radio_inner">
          <%= link_to(root_path, class:"b_link__radio") do %>
            <%= image_tag "cake.jpg", size: "240x240",class:"b_photo__radio" %>
            <h3>メニュー名</h3>
            <p class="c_text__report">ここにレポート文が入ります。ここにレポート文が入ります。ここにレポート文が入ります。ここにレポート文が入ります。ここにレポート文が入ります。</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="b_content__radio" id="fridge_content">
      <div class="c_box__fridge">
        <h3>My 冷蔵庫</h3>
        <div class="a_box__link c_link__material">
          <%= link_to "食材を追加", root_path, class:"a_pointer a_link" %>
        </div>
          <div class="a_flex c_box__fridge_inner">

            <div class="b_box__food">
              <p>肉/魚</p>
              <div class="b_box__food_inner">
                <% 3.times do %>
                  <div class="b_box__material">
                    <h3>素材名</h3>
                    <div class="a_flex b_count__food">
                      <p>食材の数</p>
                      <div class="a_flex b_count__material">
                        <% 4.times do %>
                          <div class="b_count__material_inner" style="background-color:blue;">
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <%= form_with url: root_path, method: :get do |f| %>
                      <div class="a_flex b_form__count">
                        <div class="b_field__count">
                          <%= f.select :dammy, [1,2,3,4,5,6,7,8,9,10] %>
                        </div>
                        <div class="a_actions a_pointer b__submit__count">
                          <%= f.submit "使用" %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="b_box__food">
                <p>野菜</p>
                <div class="b_box__food_inner">
                  <% 3.times do %>
                    <div class="b_box__material">
                      <h3>素材名</h3>
                      <div class="a_flex b_count__food">
                        <p>食材の数</p>
                        <div class="a_flex b_count__material">
                          <% 6.times do %>
                            <div class="b_count__material_inner" style="background-color:blue;">
                            </div>
                          <% end %>
                        </div>
                      </div>
                      <%= form_with url: root_path, method: :get do |f| %>
                        <div class="a_flex b_form__count">
                          <div class="b_field__count">
                            <%= f.select :dammy, [1,2,3,4,5,6,7,8,9,10] %>
                          </div>
                          <div class="a_actions a_pointer b__submit__count">
                            <%= f.submit "使用" %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>

            <div class="b_box__food">
                <p>調味料</p>
                <div class="b_box__food_inner">
                  <% 3.times do %>
                    <div class="b_box__material">
                      <h3>素材名</h3>
                      <div class="a_flex b_count__food">
                        <p>食材の数</p>
                        <div class="a_flex b_count__material">
                          <% 8.times do %>
                            <div class="b_count__material_inner" style="background-color:blue;">
                            </div>
                          <% end %>
                        </div>
                      </div>
                      <%= form_with url: root_path, method: :get do |f| %>
                        <div class="a_flex b_form__count">
                          <div class="b_field__count">
                            <%= f.select :dammy, [1,2,3,4,5,6,7,8,9,10] %>
                          </div>
                          <div class="a_actions a_pointer b__submit__count">
                            <%= f.submit "使用" %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
          </div>
        </div>

        <div class="c_box__cut_back_link">
          <div>
            <div class="a_box__link c_link__cut_back">
              <%= link_to "減らす", root_path, class:"a_pointer a_link" %>
            </div>
          </div>
        </div>
          せってい
          <div>
            <div>
              <h3>設定の変更</h3>

            </div>
          </div>

      </div>
  </div>
</div>